<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <a href="/flights/<%= flight._id %>/edit">
      <button id="edit-flight">Edit Flight</button>
    </a>
  </section>
  <h2>Add Tickets</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
  <div>Seat: </div>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <div>Price: </div>
  <input name="price" type="price">
  <button type="submit">Submit</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <th>Seat</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %> <br>

  <h2>Add Meals</h2>
  <form action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Meal</button>
  </form>
  <div>Meals Added:</div>
  <tbody>
    <% flight.meals.forEach(meal => { %>
      <tr>
        <td><%= meal.name %></td>,
      </tr>
    <% }) %>
  </tbody>
</main>

<%- include('../partials/footer') %>